.header {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  background: #e6e7db;
  max-width: 100%;
}

.logo {
  display: flex;
  max-width: 216px;
  max-height: 66px;
}
.menu__catalog {
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
}
